
.header{
   
    background-image: 
    linear-gradient(-15deg, rgba(0,0,0,.6), rgba(0,0,0,.6) ), url("bg.jpg");  
    background-attachment: fixed;
    background-size: cover;
    height: 60%;
    color: white;
    font-size: 160%;
}

a{
        color: #428bca;
        
}
    nav {
      background: black;
      color: white;
    }
.content{
    
    padding: 20px 20px 20px 20px;
    font-family: 'Playfair Display';
    }
h4{
        color: #428bca;
        font-weight: bold;
 }
 .date{
        font-size: 14px;
        font-family: "sans serif";
 }
  p{
    font-family: 'Georgia';
    font-size: 16px;
 }
  .ic{
    
        font-size: 20px;
        padding: 20px 20px;
        color: #fff;
    }
 .ic:hover{
        text-shadow: white;      
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }