{% extends 'blog/base.html' %}
{% block content %}
<div class='content'>
        <h4>POSTS</h4>
            {% for post in posts %}
          
                    <br>
                <h4><a class="title" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <div class='date'>
                    Published: {{ post.published_date }}
                    <br>
                    <br>
                <p>{{ post.subtext|linebreaksbr }}....<a href="{% url 'post_detail' pk=post.pk %}" style="display: inline; font-size: 15px; font-family:'fantasy';">(Continue Reading)</a></p>
               </div>
               {% endfor %}
<br><br><br><br>
                
               
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                            <h4>RECENT POSTS</h4>
                    </div>
                    {% for post in posts %} 
                    <div class="col-lg-12 col-xs-12">
                           
                            <h6><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h6>
                                <div class="date">
                                        Published: {{ post.published_date }}
                                </div>

                    </div>
                    {% endfor %} 
                    <div>
                       
                        <br>
                     </div>
                    </div>
                    
                </div>
                    
            
{% endblock %}      